[Unit]
Description=Watchcat alive signal

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
EnvironmentFile=/etc/conf.d/watchcat
ExecStart=/opt/watchcat
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target