<html>
<head>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
  <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1.0, maximum-scale=0.6667, user-scalable=no">
  <link rel="apple-touch-icon" href="favicon.png"/>
  <link rel="stylesheet" href="jquery/jquery.mobile-1.2.0.min.css"/>
  <link rel="stylesheet" href="jquery/app.css"/>
  <script src="jquery/jquery-1.8.2.min.js"></script>
  <script src="jquery/jquery.mobile-1.2.0.min.js"></script>

  <script type="text/javascript">
  if (window.screen.height==568) { // iPhone5 with 4"
    document.querySelector("meta[name=viewport]").content="width=320.1";
  }
  </script>
</head>
<body>
<div data-theme="b" data-role="header" data-position="fixed">
  <h1>Watch-Cat</h1>
  <a href="#" onClick="window.location.reload()" class="ui-btn-right" data-icon="refresh" data-theme="b" data-iconpos="notext">Aktuallisieren</a>
</div>
<div data-role="content">
  {% for entry in jobs %}
  <ul data-role="listview" data-divider-theme="b" data-inset="true">
    <li data-role="list-divider" class="{% if entry.enabled %}enabled-job{% else %}disabled-job{% endif %}" role="heading">{{ entry.name }}</li>
    <li data-theme="c">{{ entry.last_seen|formatDateTime }}<span class="ui-li-count">Last seen</span></li>
    <li data-theme="c">{{ entry.last_ip }}<span class="ui-li-count">IP</span></li>
  </ul>
  {% endfor %}
</div>
</body>
</html>