<html>
<head>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
  <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1.0, maximum-scale=0.6667, user-scalable=no">
  <link rel="apple-touch-icon" href="favicon.png"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-3.3.1.slim.min.js"></script>
  <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-sm bg-light">
  <a class="navbar-brand mb-0 h1" href="/">
    <img src="/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    WatchCat
  </a>
</nav>
<div class="content-log">
  <ul class="list-group">
    <li class="list-group-item flex-column align-items-start logging-header">
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1">{{ name }}</p>
      </div>
    </li>

    {% if logging %}{% for entry in logging %}
    <li class="list-group-item flex-column align-items-start logentry-{{ entry.name|lower }}">
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1">{{ entry.detail|add_breakchars }}</p>
        <small>{{ entry.event_time|format_datetime }}</small>
      </div>
    </li>
    {% endfor %}{% endif %}
  </ul>
</div>
</body>
</html>